.title {
  font-size: 4vw;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px #0000006c;
  font-family: 'IBM Plex Mono';
}

.board {
  position: absolute;
  top: 6vw;
  left: 27.5vw;
  width: 45vw;
  height: 45vw;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.square {
  background-color: rgba(255, 255, 255, 0);
  outline: 1px solid rgb(238, 238, 238);
  position: absolute;
  display: inline-block;
  width: 5vw;
  height: 5vw;
}

.player {
  position: absolute;
  width: 3vw;
  height: 3vw;
  /* background-color: rgb(114, 114, 114); */
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 2vw;
  text-align: center;
  border-radius: 0.5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'IBM Plex Mono';
  transition-property: left, top, opacity;
  transition-duration: 0.15s;
  opacity: 1;
}

.bomb {
    position: absolute;
    width: 3vw;
    height: 3vw;
    top: 1vw;
    left: 1vw;
    color: rgb(201, 164, 63);
    background-color: rgb(253, 223, 55);
    font-size: 2vw;
    text-align: center;
    border-radius: 0.5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(253, 223, 55, 0.4);
    font-family: 'IBM Plex Mono';
}

.reviver {
  position: absolute;
  width: 3vw;
  height: 3vw;
  top: 1vw;
  left: 1vw;
  background-color: rgb(155, 219, 71);
  color: rgb(242, 250, 231);
  font-size: 2vw;
  text-align: center;
  border-radius: 0.5vw;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(123, 255, 1, 0.4);
  font-family: 'IBM Plex Mono';
}